{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
       <div class="container">
            Vargens Foods
       </div>
    </div>
 </section>
{% endblock top %}

{% block main %}
<p>    
    Suspendisse potenti. Nam venenatis sit amet nisl eu vulputate. In a tellus nec ex ornare fermentum. Pellentesque congue faucibus magna, quis pulvinar ex bibendum sed. Vestibulum accumsan elit augue. Cras eget nibh vehicula, dictum arcu ut, ullamcorper dolor. Quisque porttitor congue aliquam. Sed blandit, ipsum at tempus accumsan, dui magna congue velit, at consequat orci magna eget lectus. Proin laoreet faucibus sodales. Integer convallis dictum ex, ultrices tristique mauris sagittis elementum. Suspendisse at risus sollicitudin, pellentesque dolor sit amet, bibendum dolor.     
</p>
{% endblock main %}
