{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
       <div class="container">
            Vargens Foods
       </div>
    </div>
 </section>
{% endblock top %}

{% block main %}
<p>



    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi nunc, cursus a ipsum eu, imperdiet cursus mi. Phasellus in dolor risus. Fusce interdum id sem sed rutrum. Nunc facilisis, tellus et volutpat tincidunt, ipsum dolor finibus odio, at congue risus metus in lorem. Etiam vel neque nulla. Duis venenatis pharetra lectus nec scelerisque. Vivamus quis rhoncus justo. Suspendisse ornare tortor semper nibh faucibus ultrices. Nunc faucibus sapien a accumsan varius.

    Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam tincidunt consectetur condimentum. Nullam fringilla eget nisl sit amet suscipit. Ut et libero euismod, pharetra arcu in, laoreet leo. Phasellus purus augue, ornare sed risus eget, congue auctor tellus. In arcu risus, posuere eu mauris sed, vestibulum placerat ante. Donec mi massa, dapibus vel dui vel, suscipit accumsan justo. Vestibulum non lectus id arcu lacinia aliquet non quis elit. Donec nec felis urna. Aenean eu augue egestas, dapibus erat sit amet, aliquet libero.
    
    Sed tempor dapibus suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin mollis imperdiet velit, ut mattis dolor cursus viverra. Nam venenatis porta magna a blandit. Morbi pretium, enim non congue tristique, ipsum lorem volutpat nibh, nec efficitur leo augue sed massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin lacinia accumsan tempus. Suspendisse potenti. Vivamus auctor dignissim enim, a vestibulum libero eleifend quis. Donec imperdiet cursus elit, quis semper lacus malesuada vel. Aliquam auctor metus eget augue malesuada, eget hendrerit sapien iaculis.
    
    In nec posuere diam, nec bibendum est. Fusce gravida enim quis consectetur condimentum. Nullam malesuada vitae enim id vestibulum. Fusce eu nisl vitae diam sollicitudin scelerisque. Fusce tortor nisl, pulvinar placerat justo id, vehicula ornare elit. Morbi at condimentum felis. Nullam quis mi ante.
    
    Suspendisse potenti. Nam venenatis sit amet nisl eu vulputate. In a tellus nec ex ornare fermentum. Pellentesque congue faucibus magna, quis pulvinar ex bibendum sed. Vestibulum accumsan elit augue. Cras eget nibh vehicula, dictum arcu ut, ullamcorper dolor. Quisque porttitor congue aliquam. Sed blandit, ipsum at tempus accumsan, dui magna congue velit, at consequat orci magna eget lectus. Proin laoreet faucibus sodales. Integer convallis dictum ex, ultrices tristique mauris sagittis elementum. Suspendisse at risus sollicitudin, pellentesque dolor sit amet, bibendum dolor. 
    
</p>
{% endblock main %}
